<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %>
        
    <div class="card w-96 glass">
        <figure><img src="https://polytechnicscanada.ca/wp-content/uploads/2021/02/Seneca-4.png" alt="car!"/></figure>
        <div class="card-body">
          <h2 class="card-title">Lego</h2>
          <p>I am Computer Programming, second semester student!!!</p>
          <div class="card-actions justify-end">
           <a href = "/lego/sets"> <button class="btn btn-primary">View Collection</button></a>
          </div>
        </div>
      </div>
</body>
</html>